* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: aqua !important;
  border-color: aqua !important;
}
button {
  margin: 0 auto;
  padding: 10px 25px;
  border: 2px solid #333;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
button:hover {
  color: aqua !important;
  border-color: aqua !important;
}
input,
textarea {
  border: 2px solid #e2e2e2;
  padding: 10px;
  transition: 0.3s;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: aqua;
}
.italic {
  font-family: "Merriweather", serif;
}
.hidden {
  display: none;
  animation: fadeout 0.3s;
}
/* COMMON */
.sns-group {
  display: flex;
  gap: 10px;
}
.sns-group li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #777;
}

/* BACKGROUND */
.bg {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

/* INTRO */
.intro {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 4em 4em 2em 4em;
  min-height: 90vh;
  color: #fff;
  text-align: center;
  transition: 0.3s;
}
.intro > div {
  display: block;
  opacity: 1;
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro > div.hidden {
  display: none;
  opacity: 0;
  animation: fadeout 3s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.intro h1 {
  font-size: 5em;
  line-height: 0.9em;
  margin-bottom: 0.45em;
}
.intro p {
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 2em;
}
.intro a.btn-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: 0.3s;
  opacity: 0;
}
.logo a {
  padding: 10px 25px;
  border: 4px solid #fff;
  font-size: 0.7em;
  text-align: center;
}
.logo.view {
  display: block;
  display: flex;
  animation: fadein 2s;
  opacity: 1;
}
/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4em);
  height: 4em;
  background-color: rgba(255, 255, 255, 0.175);
  margin: 0 auto;
}
.nav > ul {
  display: flex;
}
.nav > ul.tab-nav > li {
  display: flex;
  align-items: center;
  height: 4em;
  padding: 0 20px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.nav > ul.tab-nav > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
}
.nav > ul.tab-nav > li.active {
  color: #333 !important;
  background-color: #fff !important;
}
.nav .sns-group {
  padding-right: 2em;
}
.nav .sns-group li a {
  border: none !important;
}
/* TOGGLE & MOBLIE NAV */
.toggle {
  display: none;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.toggle span {
  margin-left: 10px;
  font-size: 14px;
}
.toggle-nav {
  display: block;
  width: 18em;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -18em;
  transform: translateX(0);
  transition: 0.3s;
}
.toggle-nav.view {
  right: 0;
}
.toggle-nav .btn-close {
  border: none;
  font-size: 20px;
  position: fixed;
  top: 5px;
  right: 5px;
}
.toggle-nav ul li a {
  color: #333;
  font-weight: bold;
}
.toggle-nav ul {
  padding: 1em 2em;
  font-size: 0.9em;
}
.toggle-nav .mobile-nav {
  padding-top: 4em;
}
.toggle-nav .mobile-nav li {
  padding: 17px 0;
  border-bottom: 1px solid #ddd;
}
.toggle-nav .mobile-nav li:last-child {
  border-bottom: none;
}
@media screen and (max-width: 1024px) {
  .toggle {
    display: flex;
    opacity: 1;
  }
  .toggle.scroll {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    color: #333;
  }
}
/* TAB1 */
/* MAIN */
.main {
  width: calc(100% - 4em);
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}
/* POST */
.main .post .date {
  display: block;
  margin-bottom: 1.25em;
  color: #777;
  text-align: center;
  position: relative;
}
.main .post h1 a {
  display: block;
  padding: 30px 0;
  color: #333;
  font-size: 2.5em;
  text-align: center;
  line-height: 1;
}
.main .post h4 a {
  display: block;
  padding-bottom: 30px;
  color: #333;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1;
}
.main .post p {
  margin-bottom: 2em;
  color: #333;
  font-size: 0.9em;
  line-height: 2em;
}
.main .post .contents-img {
  width: 100%;
  margin-bottom: 40px;
}
.main .post .contents-img img {
  width: 100%;
  object-fit: cover;
}
.main .post .btn {
  display: flex;
  justify-content: center;
}
.main .post button {
  padding: 15px 30px;
}
/* MAIN POST */
.main .main-post {
  padding: 4em;
  border-bottom: 2px solid #e2e2e2;
}
.main .main-post .date::before,
.main .main-post .date::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #eee;
  position: absolute;
  top: 50%;
}
.main .main-post .date::before {
  left: 0;
}
.main .main-post .date::after {
  right: 0;
}
.main .main-post p {
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
  line-height: 2.5;
}
/* POST LIST */
.post-list {
  display: flex;
  flex-wrap: wrap;
}
.post-list li {
  width: 50%;
  padding: 2em 2em;
  border-bottom: 2px solid #e2e2e2;
}
.post-list li:nth-child(2n) {
  border-left: 2px solid #e2e2e2;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.pagination a,
.pagination span {
  padding: 10px 15px;
  margin-left: -2px;
  border: 2px solid #e2e2e2;
  color: #333;
  position: relative;
}
.pagination a.active {
  background-color: #e2e2e2;
}
.pagination a:hover {
  z-index: 2;
}

/* EMAIL */
.email-wrapper {
  background-color: #f4f4f4;
  padding: 3em 4em;
}
.email-wrapper .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.email-wrapper .row label {
  display: block;
  padding: 10px 0;
  color: #555;
}
.email-wrapper .row textarea {
  height: 150px;
  margin-bottom: 20px;
}
.email-wrapper button {
  color: #777;
  border-color: #777;
}

/* CONTACT */
.contact {
  background-color: #f4f4f4;
}
.contact > div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 3em 4em;
  border-top: 2px solid #e2e2e2;
  color: #777;
}
.contact > div:first-child {
  align-items: start;
}
.contact > div:first-child h3 {
  padding-top: 8px;
}
.contact > div > h3 {
  width: 70px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.contact > div p {
  line-height: 2em;
}

/* COPYRIGHT */
.copyright ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  color: #777;
  font-size: 0.8em;
}
.copyright ul li:last-child {
  position: relative;
}
.copyright ul li:last-child::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #777;
  position: absolute;
  top: 4px;
  left: -10px;
}

/* TAB - TWO */
#tab2 {
  text-align: center;
}
#tab2 .post h1 {
  padding: 30px 0;
  color: #333;
  font-size: 3.5em;
  text-align: center;
  line-height: 1;
}
#tab2 .post p {
  width: 70%;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 30px;
}
#tab2 .post span.text {
  display: block;
  font-size: 0.85em;
  text-align: left;
  line-height: 2.6;
  margin-bottom: 30px;
}

/* TAB3 */
#tab3 .post {
  padding: 4em 8em;
}
#tab3 .post h1 {
  padding: 1em 0;
  color: #333;
  font-size: 3.5em;
  text-align: center;
  line-height: 1;
  margin-bottom: 1em;
}
#tab3 h2 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1em;
}
#tab3 h3 {
  font-size: 1.75rem;
  line-height: 1.3;
  margin-bottom: 1em;
}
#tab3 h4 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 1em;
}
#tab3 h5 {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1em;
}
#tab3 h5 {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1em;
}
#tab3 p {
  font-family: "Merriweather", serif;
  font-size: 1.15em;
  margin-bottom: 0;
}
#tab3 section {
  border-bottom: 2px solid #e2e2e2;
  padding: 2.5em 0;
}
#tab3 section > ul > li {
  margin-bottom: 2em;
}
#tab3 header {
  margin-bottom: 1em;
}
#tab3 header p {
  margin-bottom: 2em;
  font-size: 1em;
  font-style: italic;
  font-family: "Merriweather", serif;
}
#tab3 .list {
  display: flex;
  flex-wrap: wrap;
}
#tab3 .list > div {
  width: 50%;
  margin-bottom: 1.75em;
}
#tab3 .list h4 {
  margin-bottom: 0.5em;
}
#tab3 .list li {
  padding: 10px 0;
  font-size: 0.9em;
  font-family: "Merriweather", serif;
}
#tab3 .list li {
  list-style: inherit;
}
#tab3 .list .sns-group li {
  list-style: none;
}
#tab3 .list .sns-group.xBorder a {
  border: none;
}
#tab3 blockquote {
  border-left: 4px solid #e2e2e2;
  padding-left: 20px;
  font-style: italic;
  font-family: "Merriweather", serif;
  line-height: 2;
}
/* TAB2 + TAB3 FOOTER */
#tab2 footer,
#tab3 footer {
  display: flex;
  text-align: left;
}
#tab2 footer > section,
#tab3 footer > section {
  width: 50%;
}
#tab3 footer > section:first-child {
  padding: 3em 4em;
}
#tab3 footer > section:last-child {
  padding: 0;
}
#tab2 footer section.contact,
#tab3 footer section.contact {
  border-left: 2px solid #e2e2e2;
}
#tab2 footer section.contact > div,
#tab3 footer section.contact > div {
  padding: 3.5em 4em;
}
#tab2 footer section.contact > div:first-child,
#tab3 footer section.contact > div:first-child {
  border-top: none;
}
#tab3 footer section.contact > div {
  padding: 3.3em 4em;
}
#tab3 footer .contact > div > h3 {
  width: 70px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
#tab3 footer .contact > div p {
  font-size: 0.9em;
  line-height: 2em;
}
